pre code {
    font-size: 80%;
    color: #bbbbbb;
}

#modal-body-cause {
    background-color: #000;
}

.modal-body img {
    width: 100%;
}

.hidden {
    display: none;
}

a.info {
    padding-left: 2px;
}

a.cause {
    padding-left: 2px;
}