#modal-body-cause pre {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    background-color: #000;
}

#modal-body-cause pre code {
    font-size: 80%;
    color: #bbbbbb;
}

#modal-body-screenshot {
    text-align: center;
}

#modal-body-screenshot img {
    max-height: calc(100vh - 200px);
}

.hidden {
    display: none;
}

a.info {
    padding-left: 2px;
}

a.cause {
    padding-left: 2px;
}